name: CI

on:
  push:
  pull_request:
  schedule:
    - cron:  '30 */6 * * *'

env:
  TERM: dumb
jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: test:latest

      - name: Run Trivy vulnerability scanner in repo mode #1
        if: always()
        uses: aquasecurity/trivy-action@master
        with:
          # scan-type: 'fs'
          image-ref: test:latest
          ignore-unfixed: true
          exit-code: '1'
          format: 'table'
          severity: 'CRITICAL,HIGH'

      - name: Post the failure to Slack
        if: failure()
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

