name: CI

on:
  push:
  pull_request:
# schedule:
#   - cron:  '*/10 * * * *'

env:
  TERM: dumb
jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: test:latest

      - name: Run Trivy vulnerability scanner in repo mode #1
        if: always()
        uses: aquasecurity/trivy-action@master
        with:
          # scan-type: 'fs'
          image-ref: test:latest
          ignore-unfixed: true
          exit-code: '1'
          format: 'table'
          severity: 'CRITICAL,HIGH'

#     - name: Run Trivy vulnerability scanner in repo mode #2
#       if: always()
#       uses: aquasecurity/trivy-action@master
#       with:
#         # scan-type: 'fs'
#         image-ref: test:latest
#         ignore-unfixed: true
#         format: 'sarif'
#         output: 'trivy-results.sarif'
#         severity: 'CRITICAL,HIGH'

#     - name: Upload Trivy scan results to GitHub Security tab
#       if: always()
#       uses: github/codeql-action/upload-sarif@v2
#       with:
#         sarif_file: 'trivy-results.sarif'

